
x-airflow-common:
  &airflow-common
  build:
    context: .
    dockerfile: Dockerfile
  
  environment:
    AIRFLOW_HOME: /opt/airflow
    AIRFLOW_WEBSERVER_HOST: 0.0.0.0
    AIRFLOW_WEBSERVER_PORT: 8080
    AIRFLOW_EXECUTOR: LocalExecutor
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__CORE__FERNET_KEY: ${FERNET_KEY}
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${P_USER}:${P_PASSWORD}@postgres:5432/${P_DB}
    S_ACCOUNT: ${SNOWFLAKE_ACCOUNT}
    S_USER: ${SNOWFLAKE_USER}
    S_PASSWORD: ${SNOWFLAKE_PASSWORD}
    S_ROLE: ${SNOWFLAKE_ROLE}
    S_DATABASE: ${SNOWFLAKE_DATABASE}
    S_WAREHOUSE: ${SNOWFLAKE_WAREHOUSE}
    S_SCHEMA: ${SNOWFLAKE_SCHEMA}
  volumes:
    - ./dags:/opt/airflow/dags
    - ./dbt_project:/opt/airflow/dbt_project
    - ./logs:/opt/airflow/logs


services:


  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=${P_USER}
      - POSTGRES_DB=${P_DB}
      - POSTGRES_PASSWORD=${P_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${P_user}"]

      interval: 5s
      timeout: 5s
      retries: 5
  
  airflow-init:
    <<: *airflow-common
    container_name: airflow_init
    command: bash -c "airflow db upgrade && airflow users create --username ${AIRFLOW_USER} --password ${AIRFLOW_PASSWORD} --role Admin --email ${Email} --firstname ${First_name} --lastname ${Last_name}"
    restart: "no"
    depends_on:
      postgres:
        condition: service_healthy

  airflow-webserver:
    <<: *airflow-common
    container_name: airflow_webserver
    command: ["airflow", "webserver"]
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      airflow-init:
        condition: service_completed_successfully
  
  airflow-scheduler:
    <<: *airflow-common
    container_name: airflow_scheduler
    command: ["airflow", "scheduler"]
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully